<!--starter template bootstrap-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <title>Shred It!</title>
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a th:href="@{/reddit(name=${userName})}" class="navbar-brand">Home</a>
            <a th:href="@{/reddit/submit(name=${userName})}" class="navbar-brand">Add post</a>
        </nav>

        <h1 class="dislay-3" th:text="${posts.isEmpty()} ? 'No posts yet, submit one!' : 'Lovely posts'"></h1>
        <h1 class="dislay-4" th:if="${filteredByOwner}" th:text="'Filtered by the owner: ' + ${owner}"></h1>

    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Leader</th>
                <th scope="col">Score</th>
                <th scope="col">Like</th>
                <th scope="col">Dislike</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Owner</th>
            </tr>
            <tr th:each="post, status : ${posts}">
                <td th:text="${status.index + 1}"></td>
                <td th:text="${post.getScore()}"></td>
                <td>
                    <form
                            th:action="@{/reddit/like(name=${userName})}"
                            method="post">
                        <input type="hidden" name="postId" th:value="${post.getId()}"/>
                        <input th:if="${filteredByOwner} == false" type="hidden" name="currentPage"
                               th:value="${currentPage}"/>
                        <input type="image" src="/upVote.png" name="submit">
                        <!--                    <button type="submit"> <img src="/upVote"></button>-->
                    </form>
                </td>
                <td>
                    <form
                            th:action="@{/reddit/dislike(name=${userName})}"
                            method="post">
                        <input type="hidden" name="postId" th:value="${post.getId()}"/>
                        <input th:if="${filteredByOwner} == false" type="hidden" name="currentPage"
                               th:value="${currentPage}"/>
                        <input type="image" src="/downVote.png" name="submit">
                    </form>
                </td>
                <td>
                    <a th:href="${post.getUrl()}" th:text="${post.getTitle()}"></a>
                </td>
                <td th:text="${post.getDateOfCreation()}"></td>
                <td>
                    <a th:href="${'/reddit/search/' + post.getUser().getId() + '?name=' + userName}"
                       th:text="${post.getUser().getName()}"></a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:if="${!filteredByOwner}" style="text-align: center">
        <span th:text="'Number of total posts: ' + ${totalPosts} + ' Current page: ' + ${currentPage} + ' of ' + ${totalPages}"></span>
        <span th:each="i : ${#numbers.sequence(1,totalPages)}">
        <a th:href="${'/reddit/page/' + i + '?name=' + userName}" th:text="${i}"></a>
    </span>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </body>
</div>
</html>
